<p id="notice"><%= notice %></p>

<p>
  <strong>Place Name:</strong>
  <%= @service.placeName %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @service.hours %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<% if current_user.isAdmin == false %>
	<%= link_to 'Delete', @service, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<% end %>
<%= link_to 'Back', "/users/#{@service.user_id}" %>


