<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @service.place %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @service.hours %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
