<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @service.place %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @service.hours %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> | <%= link_to 'Destroy', @service, method: :delete, data: { confirm: 'Are you sure?' } %> </td><br>
<%= link_to 'Back', "/users/#{current_user.id}" %>
