<p id="notice"><%= notice %></p>

<p>
  <table class="table">
  <tbody>
    <tr>
      <td> <strong> Place </strong> </td>
      <td> <strong> Hours </strong> </td>
    </tr> <br>
  	<% Service.all.each do |service| %>
      <% if service.user_id == @user.id %>
        <tr>
          <td><%= link_to("#{service.place}", service)%></td>
          <td><%= service.hours %></td>
        </tr> <br>
      <% end %>
    <% end %>
      <td> <strong> Total </strong> </td>
      <td> <strong> <%="#{@user.hours}" %> </strong> </td> <br>

  </table>
</p>

<td><%= link_to 'Add Service', '/services/new' %></td>
