<p id="notice"><%= notice %></p>

<h2> <%= "#{@user.name}" %> </h2>

<table class="table">
  <thead>
    <tr>
      <th>Place</th>
      <th>Approved</th>
      <td>Hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	<% Service.all.each do |service| %>
      <% if service.user_id == @user.id %>
        <tr>
          <td><%= link_to("#{service.placeName}", service)%></td>
          <td><%= service.approved %></td>
          <td><%= service.hours %></td>
        </tr>
      <% end %>
    <% end %>
      <tr>
        <td> <strong> Total </strong> </td>
        <td></td>
        <td> <strong> <%="#{@user.hours}" %> </strong> </td>
      </tr>
  </tbody>
</table>

<% if current_user.isAdmin == false %>
  <td><%= link_to 'Add Service', '/services/new' %></td>
<% else %>
  <td><%= link_to 'Back', '/users' %></td>
<% end %>
